* {
    font-family: 'Raleway', monospace !important;
}

html{
    scroll-behavior: smooth;
}

@keyframes fadeUp {
    0% {
      transform: translateY(10%);
      opacity: 0;
    }
    100% {
      transform: translateY(0);
      opacity: 1;
    }
}

h1 {
    color: blue;
}

@media (max-width: 700px) {
    .card-columns.custom-columns {
        column-count: 1;
    }
}
@media (min-width: 700px) {
    .card-columns.custom-columns {
        column-count: 2;
    }
}

.ion {
    font-size: 30px;
    width: 30px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
}

section {
    animation: 1s ease-out 0s 1 fadeUp;
}

.intro {
    padding: 20px;
    background: #fff;
}

.about {
    padding: 20px;
    background: #fff;
}

#navbar {
    background-color: #333;
    position: sticky;
    top: 0;
    width: 100%;
    transition: top 0.4s; /* Transition effect when sliding down (and up) */
    z-index: 100;
}


.skill {
    background: rgba(15,18,23,0.4);
    color: #fff;
    padding: 10px;
    border-radius: 5px;
    font-size: 20px;
    margin-bottom: 10px;
    line-height: 300%;
    white-space: nowrap;
}

.skills {
    padding-top: 10px;
    text-align: center;
}

.section-title {
    text-align: center;
    background: rgba(27, 254, 198, 0.786);
}

.section-title h1 {
    color: rgb(15,18,23);
}

.project-grid {
    padding: 20px;
}

.project-grid .card-title {
    font-weight: bold;
    text-decoration: underline;
}

.skill-small {
    background: rgba(15,18,23,0.4);
    color: #fff;
    padding: 10px;
    border-radius: 5px;
    font-size: 12px;
    margin-bottom: 10px;
    line-height: 300%;
    white-space: nowrap;
}

.modal-title {
    font-weight: bold;
}

.modal-body {
    text-align: justify;
}

.copyright {
    text-align: center;
    padding: 30px;
}
